@charset "UTF-8";

	
	table {
	  border: 1px #a39485 solid;
	  font-size: .9em;
	  box-shadow: 0 2px 5px rgba(0,0,0,.25);
	  width: 75%;
	  border-collapse: collapse;
	  border-radius: 5px;
	  overflow: hidden;
	  margin-left:auto; 
      margin-right:auto;
	}
	
	th {
		padding: 5px;
		border-top: 1px solid silver;
		border-bottom: 1px solid silver;
		text-align: center;
	}
	
	thead {
  		font-weight: bold;
 	 	color: #fff;
  		background: #73685d;
	}
	
	tr {
		
	}
	
	th:nth-of-type(1) { width: 100px; }
	th:nth-of-type(2) { width: 800px; }
	th:nth-of-type(3) { width: 200px; }
	th:nth-of-type(4) { width: 100px; }
	
	
	td, th {
  		padding: 1em .5em;
  		vertical-align: middle;
	}
	
	
   td {
  		border-bottom: 1px solid rgba(0,0,0,.1);
  		background: #fff;
	}
  
  	
	
	#align {
		text-align: center;
	}
	
	.ul-paging{
	list-style:none;
	float:left;
	display:inline;
	}
	
	.li-page {
	    float: left;
	    margin-right: 20px;
	}
	
	.li-page a {
		float:left;
		padding:4px;
		margin-right:3px;
		width:15px;
		color:#000;
		font:bold 12px tahoma;
		border:1px solid #eee;
		text-align:center;
		text-decoration:none;
	}
	
	.ul-paging li a:hover, .ul-paging li a:focus, .ul-paging li a:active {
		color:#fff;
		border:1px solid #1e90ff;
		background-color:#1e90ff;
	}