@charset "UTF-8";

	* {
		box-sizing: border-box;
	}
	
	a {
		text-decoration-line: none ;
		cursor: pointer;
		color: black;
	}
	a:hover, a:active {text-decoration: none; color: black;}
	
	.img {
		width: 2000px;
		height: 290px;
	}
	
	.study_list_container {
		margin: 0 auto;
		width: 1260px;
		display: flex;
		flex-wrap: wrap;
		padding-left: 116px;
	}
	.study {
		width: 320px;
		height: 410px;
		margin: 20px 20px 25px 20px;
		padding-top: 65px;
		border-radius: 30px;
		text-align: center;
		box-shadow: 2px 2px 11px #cccccc;
		
	}
	.wrapper {
		display: flex;
		justify-content: center;  /* wrapper의 자식을 가로 가운데 정렬 */
		align-items: center;      /* wrapper의 자식을 세로 가운데 정렬 */
		min-height: 100vh;
	}
	
	.blind {
		display: none;
	}	
	
	/* slide */
	#img_area1, #img_area2, #img_area3 {
		width: 1600px !important;
		height: 290px !important;
		margin: auto !important;
		display: block !important;
	}
	
	#gubun {
		background: #dedede;
		height: 0.5px;
		margin: 56px 20px 0 20px;
	}
	
	.stud_title {
		font-weight: 500; 
		font-size: x-large;
		width: 260px;
	    height: 70px;
	    margin-left: 30px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	
	.stud_content {
	    width: 260px;
	    height: 50px;
	    margin-left: 31px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	
	#btn_write {
		width: 100%;
	    height: 40px;
	    
	    color: white;
	    border-radius: 10px;
	    text-align: right;		
	    margin-right: 300px;
	}
	.btn_write_a{
	    margin-right: 240px;
	    height: 100%;
	    line-height: 40px;
	    background-color: #000000;
	    border-radius: 28px;
	    border: 1px solid #000000;
	    display: inline-block;
	    cursor: pointer;
	    color: white;
	    font-family: Arial;
	    font-size: 15px;
	    padding: 1px 13px;
	    text-decoration: none;
	}
	.btn_write_a:hover {
		color: white;
	}
	
	.tag {
		color: gray;
	    height: 24px;
	    font-family: 'Dongle', sans-serif;
	    display: inline-flex;
	    padding: 0 12px 3px 12px;
	    margin-right: 5px;
	    text-align: center;
	    vertical-align: middle;
	    font-size: 23px;
	    border-radius: 16px;
	    background-color: #f5e4de;
	}
	.tag_span {
		line-height: 27px;
	}
	
	.nick {
		display: flex;
		margin-top: 18px;
		margin-left: 7px;
	}
	.stud_nick {
		display: flex;
		margin-left: 20px;
		margin-right: 140px;
		
	}
	.stud_hit {
		display: flex;
		margin-top: 5px;
	}
	