@charset "UTF-8";

	* {
		box-sizing: border-box;
	}
	
	.scenter {
	  	max-width: 900px;
	    width: 100%;
	    display: flex;
	    flex-direction: column;
	    margin: 0 auto;
	    padding: 1.5rem 1.5rem 5rem;
  	}
	
	.maintitle {
		margin-top: 2.5rem;
		font-weight: 800;
	    font-size: 3rem;
	    line-height: 126.5%;
	    letter-spacing: -.005em;
	    color: #000;
	}
	
	.subtitle {
		margin-bottom: 2.5rem;
		font-weight: 600;
	    font-size: 2rem;
	    line-height: 126.5%;
	    letter-spacing: -.005em;
	    color: #000;
	}
	
	.introproject {
		margin-bottom: 1.5rem;
		font-weight: 600;
	    font-size: 2rem;
	    line-height: 126.5%;
	    letter-spacing: -.005em;
	    color: #000;

	}
	
	.editndelete {
		display: flex;
		justify-content: flex-end;	
		margin-bottom: 50px;
	}
	
	.btn_modify {
		border: none;
		outline: none;	
		background-color: #fff;
	}

	.btn_recomment_area {
		border: none;
		outline: none;	
		background-color: #fff;	
	}
	
	.btn_addrecmt {
		border: none;
		outline: none;	
		background-color: #fff;		
	}
	
	.btn_removecmt {
		border: none;
		outline: none;	
		background-color: #fff;	
	}
	
	.btn_remove {
		border: none;
		outline: none;	
		background-color: #fff;
	}
	
	.blind {
		display: none;
	}
	
	#lnk_like:hover span {
		cursor: pointer;
		color: #f83030;
	}
	
	#lnk_like {
		display: flex;
	    justify-content: flex-end;
	}
	
	#heart {
		width: 16px;
		margin-right: 5px;
	}
	#map {
        width: 60%;
        height: 250px;
        background-color: grey;
      }
      
	#btn_addcmt {
		background-color:#000000;
		border-radius:28px;
		border:1px solid #000000;
		display:inline-block;
		cursor:pointer;
		color:white;
		font-family:Arial;
		font-size:13px;
		padding:5px 24px;
		text-decoration:none;
		text-shadow:0px 1px 0px #2f6627;
	}

	#btn_addcmt:active {
		position:relative;
		top:1px;
	}
	
	.btn_cmtList {
		margin: 0 0 30px;
	    font-size: 22px;
	}
	
   	.commentinput {
	    font-family: inherit;
	    padding: 1rem 1rem 1.5rem;
	    outline: none;
	    border: 2px solid #e1e1e1;
	    border-radius: 16px;
	    width: 100%;
	    min-height: 100px;
	    margin-bottom: 10px;
	    resize: none;

  	}
  	
  	.commentbutton {
	  	display: flex;
	    justify-content: flex-end;
	    margin: 16px 0 24px;
  	}
  	
  	.cmt_cnt {
  		position: relative;
  		bottom: 10px;
  	}
  	
  	.recmtContent {
   		font-family: inherit;
	    padding: 1rem 1rem 1.5rem;
	    outline: none;
	    border: 2px solid #e1e1e1;
	    border-radius: 16px;
	    width: 30%;
	    min-height: 100px;
	    margin-bottom: 10px;
	    resize: none;
  	
  	}
  	
  	.origin_cmt {
  	  	position: relative;
  		bottom : 6px;
  	}
  	.nlogcmtContent {
   		font-family: inherit;
	    padding: 1rem 1rem 1.5rem;
	    outline: none;
	    border: 2px solid #e1e1e1;
	    border-radius: 16px;
	    width: 30%;
	    min-height: 100px;
	    margin-bottom: 10px;
	    resize: none;
  	}