select {
  box-sizing: border-box;
  width: 100px;
  padding: 4px;
  font-size: 14px;
  border-radius: 6px;
}

option {
  padding: 4px;
  font-size: 14px;
  color: #fff;
  background: #272822;
}
#query, #query2, #start, #start2, #stop, #stop2{
  border-radius: 6px;
  width: 180px;
  margin-bottom: 12px;
}

/* 페이징 */
#paging  {
	font-size: 12px;
	color: gray;
}
#paging span, #paging strong {
	margin: 0 3px;
}

#btn_userSearch{
	margin-bottom: 15px;
	border: 1px soild #fff;
	border-radius: 6px;
}


.btn_search {
	margin-bottom: 15px;
	background-color: white;
	padding: 5px 5px;
	border-radius: 10px;
	border: 1px solid #F2E4C5; 
}
.btn_search:hover {
	background-color: #F2E4C5;
}



.lnk_enable {
	cursor: pointer;
}
.lnk_enable:hover {
	color: limegreen;
}

.menu a{cursor:pointer;}
.menu .hide{display:none;}

input.remove_free1{
	display: none;
}

input#btn_remove{
	display: none;
}
input#btn_trans{
	display: none;
}

.wrapper .sidebar{
    background: skyblue;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}
.wrapper .sidebar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}

.wrapper .sidebar ul li a .icon{
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}
.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
    color: #0c7db1;
	text-decoration: none;
    background:white;
    border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
    color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
    display: block;
}

.wrapper .sidebar ul li a{
	border:none !important;
}
.sidebar a{
	border:none;
}
.navbar{
	margin-left: 225px !important;
}