@charset "UTF-8";


	a {
		text-decoration-line: none ;
		cursor: pointer;
		color: black;
	}
	
	.edit-main{
	  	max-width: 900px;
	    width: 100%;
	    display: flex;
	    flex-direction: column;
	    margin: 0 auto;
	    padding: 1.5rem 1.5rem 5rem;
  	}
	
	
	.div-line {
		display: flex;
		flex-basis: 100%;
		font-size: 18px;
		margin: 8px 0px;
		align-items: center;
	}
	
	.div-line::before {
		content: "";
		flex-grow: 1;
		margin: 0px 16px;
		height: 1px;
		font-size: 0px;
		line-height: 0px;
		background: lightgray;
	}
	
	.div-line::after {
		content: "";
		flex-grow: 1;
		margin: 0px 16px;
		height: 1px;
		font-size: 0px;
		line-height: 0px;
		background: lightgray;
	}
	
	.float {
		float:left; 
		margin-right: 70px;
	}
	
	input[type=text] {
		 width: 300px;
		 height: 32px;
		 font-size: 15px;
		 border: 0;
		 border-radius: 7px;
		 outline: none;
		 padding-left: 10px;
		 background-color: rgb(233, 233, 233);   /* rgb(200, 225, 323); */
	}
	label {
		margin-top: 20px;
	}
	
	.h-div {
		margin-top: 50px;
	}
	select {
	    width: 300px;
	    border: 1px solid #C4C4C4;
	    box-sizing: border-box;
	    border-radius: 10px;
	    padding: 12px 13px;
	    font-family: 'Roboto';
	    font-style: normal;
	    font-weight: 400;
	    font-size: 14px;
	    line-height: 16px;
	}
	
	.profile {
		width: 800px; 
		height:300px;
		background-color: white; 
		border: 1px solid #C4C4C4;
		border-radius: 7px;
	}
	
	#btn_edit, #btn_cancel, #btn_list {
	  	margin-bottom: 10px;
		background-color:#000000;
		border-radius:28px;
		border:1px solid #000000;
		display:inline-block;
		cursor:pointer;
		color:white;
		font-family:Arial;
		font-size:13px;
		padding:5px 24px;
		text-decoration:none;
	 }
	 
	 #btn_edit {
	 	margin-left: 500px;
	 }