@charset "UTF-8";

	* {
		box-sizing: border-box;
	}
	
	.wr-wrapper {
		position: absolute;
	  	left: 50%;
	 	transform: translateX(-50%);
	    margin: 0 auto;
	 	padding: 1.5rem 1.5rem 5rem;
	}
	
	.blind {
		display: none;
	}
	
	#lnk_like:hover span {
		cursor: pointer;
		color: #f83030;
	}
	#heart {
		width: 16px;
		margin-right: 5px;
	}
	
	.btn_addcmt {
		background-color:#000000;
		border-radius:28px;
		border:1px solid #000000;
		display:inline-block;
		cursor:pointer;
		color:white;
		font-family:Arial;
		font-size:13px;
		padding:5px 24px;
		text-decoration:none;
	}
	
	.btn_editcmt {
		background-color:black;
		border-radius:28px;
		border:1px solid #000000;
		display:inline-block;
		cursor:pointer;
 		color:white;
		font-family:Arial;
		font-size:13px;
		padding:5px 24px;
		margin-bottom: 7px;
	}
	
	.btn_addrecmt {
		background-color:black;
		border-radius:28px;
		border:1px solid #000000;
		display:inline-block;
		cursor:pointer;
 		color:white;
		font-family:Arial;
		font-size:13px;
		padding:5px 24px;
		margin-bottom: 7px;
	}
	
	.btn_removecmt, .btn_editcmt_area,	.btn_recomment_area {
		border-radius:28px;
		border:1px solid #000000;
		display:inline-block;
		cursor:pointer;
 		color: #000000;
		font-family:Arial;
		font-size:13px;
		padding:5px 20px;
		margin-bottom: 5px;
	}

	#btn_addcmt:active {
		position:relative;
		top:1px;
	}
	
	.btn_cmtList {
		margin: 0 0 30px;
	    font-size: 22px;
	}
	
   	.commentinput {
	    font-family: inherit;
	    padding: 1rem 1rem 1.5rem;
	    outline: none;
	    border: 2px solid #e1e1e1;
	    border-radius: 16px;
	    width: 100%;
	    min-height: 100px;
	    margin-bottom: 10px;
	    resize: none;
  	}
  	
  	.commentbutton {
	  	display: flex;
	    justify-content: flex-end;
	    margin: 16px 0 24px;
  	}
  	
  	.cmt_cnt {
  		position: relative;
  		bottom: 10px;
  	}

  	.recmtContent {
  		resize : none;
  	}
  	
	.btn_modify, .btn_remove, .btn_list {
		background-color:black;
		border-radius:28px;
		border:1px solid #000000;
		display:inline-block;
		cursor:pointer;
 		color:white;
		font-family:Arial;
		font-size:13px;
		padding:5px 24px;
		margin-bottom: 7px;
	}
	
	#fr-title {
		font-size: 28px;
		margin-bottom: 20px;
	}
	
	#fr-hit, #fr-date {
		text-align: right;
	}
	